*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 663px;
  height: 353px;
  margin: 30px auto;
  border: 25px solid #f5f5f5;
  position: relative;
}
.container_sub{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ed9eae;
  display: flex;
  flex-direction: column;
  padding: 25px 25px 12px 25px;
}
.fruits{
  width: 100%;
  height: 40px;
  background: #c66376;
  color: #fff;
  position: relative;
  margin: 0 0 13px 0;
  font-size: 14px;
  text-align: center;
  display: flex;
}
.fruits_num{
  font-size: 16px;
  font-family: sans-serif;
  padding: 10px 13px;
}
.fruits_span{
  display: inline-block;
  background: #9e354a;
  padding: 11px 21px;
  font-size: 16px;
  color: #fff;
  font-family: sans-serif;
}

/*----------------------------------------------------*/

.container2{
  width: 730px;
  height: 764px;
  margin: 30px auto;
  background: #f5f5f5;
  padding: 18px 25px 30px 35px;
  position: relative;
}

.container2_sub{
  display: flex;
  flex-direction: column;
}
.row{
  width: 100%;
  height: 55px;
  padding: 21px 0 15px 53px;
}
.container2_span{
  display: inline-block;
  font-family: sans-serif;
  margin-bottom: 28px;
}
.row:nth-child(odd){
  background: #a5ccda;
}
.row:nth-child(even){
  background: #add8e6;
}
.row.done{
  text-decoration: line-through;
  background: #e2e2e2;
  position: relative;
}
.row_span{
  font-size: 16px;
  line-height: 20px;
  font-family: sans-serif;
  position: relative;
  padding-left: 46px;
}
.row_span:before{
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid black;
}
.span_close{
  position: relative;
  margin-left: 33px;
  width: 22px;
  height: 22px;
}
.span_close:before{
  content: "";
  width: 12px;
  height: 2px;
  background: #8b0000;
  position: absolute;
  top: 9px;
  left: 0px;
  transform: rotate(45deg);
}
.span_close:after{
  content: "";
  width: 12px;
  height: 2px;
  background: #8b0000;
  position: absolute;
  bottom: 7px;
  left: 0;
  transform: rotate(-45deg);
}
.done:before{
  content: "";
  width: 8px;
  height: 2px;
  background: #000;
  position: absolute;
  top: 26px;
  left: 58px;
  transform: rotate(31deg);
  z-index: 5;
}
.done:after{
  content: "";
  width: 16px;
  height: 2px;
  background: #000;
  position: absolute;
  top: 22px;
  left: 61px;
  transform: rotate(-55deg);
  box-shadow: 0px 0px 0px 3px rgba(226,226,226,1);
}

/*-----------------------------------------*/

.container3{
  width: 1026px;
  height: 630px;
  background: #f5f5f5;
  padding: 30px 60px 70px 30px;
  margin: 30px auto;
  font-family: sans-serif;
}

.hide{
  list-style: none;
}
li{
  margin: 0 0 0 90px;
  font-size: 15px;
  line-height: 22px;
}
li:nth-child(even){
  color: #8c8d93;
}
.colored{
  color: #3422a0;
}
dt{
  margin: 30px 0 25px 0;
}
dt:nth-child(n+3){
  font-style: italic;
}
dt:first-child{
  font-weight: bold;
}
.bolded{
  font-weight: bold;
}
